---
import Layout from "@/layouts/Layout.astro";
import ArrowUpRightIcon from "@/assets/icons/arrow-up-right.svg";
import { getCollection } from "astro:content";
import { sortByDateDesc } from "@/functions/date.ts";
import NodeGrid from "@/components/NodeGrid.astro";

const data = await getCollection("garden", ({ data }) => {
  return data.featured;
});
const nodes = data.toSorted(sortByDateDesc);
---

<Layout>
  <div class="screen flex flex-col">
    <NodeGrid nodes={nodes}>
      <div class="row-span-2 sm:col-span-2 lg:aspect-square">
        <div class="h-full w-full p-2 sm:p-4">
          <h1 class="text-heading text-xl font-bold sm:text-3xl">
            Bonjour 👋 I'm Remi <span
              class="text-body font-mono tracking-tighter">(or Pinpin)</span
            >.<br />Welcome to my
            <span class="inline-flex items-center gap-0.5"
              >🌱<a
                class="text-green-600"
                href="https://anthonyamar.fr/Digital+garden/Digital+garden"
                rel="noopener noreferrer"
                target="_blank">digital garden</a
              ><ArrowUpRightIcon height={26} width={26} /></span
            >, I like to develop, talking & sharing my knowlegde, and I'm
            currently working at
            <span class="inline-flex items-center gap-0.5">
              <a
                class="text-orange-400"
                rel="noopener noreferrer"
                href="https://www.jetdev.fr/"
                target="_blank">Jetdev</a
              >
              <ArrowUpRightIcon height={26} width={26} />
            </span>.<br /><br />In my free time, I enjoy cooking, playing video
            games, reading & doing some sports.<br /><br />I hope you enjoy
            exploring my digital space as much as I enjoyed creating it.
          </h1>
        </div>
      </div>
    </NodeGrid>
  </div>
</Layout>
