---
import clsx from "clsx";

type Props = {
  href: string;
};

const { href } = Astro.props;
const currentPath = Astro.url.pathname;

const classes = clsx(
  "py-1.5 px-4 text-base text-body hover:text-heading text-center font-medium transition-colors rounded-full",
  {
    "bg-primary! text-white!": currentPath === href,
  },
);
---

<a class={classes} href={href}>
  <slot />
</a>
