---
import { EMAIL, GITHUB, LINKEDIN } from "@/configs/socials";
import HeaderLink from "./HeaderLink.astro";
import GithubIcon from "@/assets/icons/github.svg";
import MailIcon from "@/assets/icons/mail.svg";
import LinkedinIcon from "@/assets/icons/linkedin.svg";
import HeaderSocialLink from "@/components/HeaderSocialLink.astro";
---

<nav
  class="bg-header sticky bottom-8 z-50 mx-auto mb-8 rounded-lg border-neutral-100 shadow-sm md:top-0 md:mx-0 md:rounded-none md:border-b md:shadow-none"
>
  <div class="md:screen flex items-center justify-between p-1 md:gap-4 md:py-4">
    <div class="hidden flex-1 items-center gap-2 md:flex">
      <a class="text-heading hover:text-body text-xl font-bold" href="/">Remi</a
      >
      <p class="text-body text-base font-normal">Software Engineer</p>
    </div>
    <div class="flex flex-1 items-center justify-center">
      <HeaderLink href="/"> Home </HeaderLink>
    </div>
    <div class="hidden flex-1 items-center justify-end gap-3 md:flex">
      <HeaderSocialLink label="Send me an email" href={`mailto:${EMAIL}`}>
        <MailIcon />
      </HeaderSocialLink>
      <HeaderSocialLink label="Follow me on Github" href={GITHUB}>
        <GithubIcon />
      </HeaderSocialLink>
      <HeaderSocialLink label="Follow me on LinkedIn" href={LINKEDIN}>
        <LinkedinIcon />
      </HeaderSocialLink>
    </div>
  </div>
</nav>
