---
type Props = {
  href: string;
};

const { href } = Astro.props;
const currentPath = Astro.url.pathname;
---

<a
  class:list={[
    "text-body hover:text-heading rounded-lg px-4 py-2 text-center text-base font-medium transition-colors",
    {
      "bg-black! text-white! dark:bg-white! dark:text-black!":
        currentPath === href,
    },
  ]}
  href={href}
>
  <slot />
</a>
