---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { title } from "@/configs/seo";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script>
      const stored = localStorage.getItem("theme");
      if (stored) {
        document.documentElement.setAttribute("data-theme", stored);
      }
    </script>
    <ClientRouter />
    <slot name="head">
      <title>{title}</title>
    </slot>
  </head>
  <body class="bg-background flex flex-col">
    <main class="relative flex flex-col-reverse md:flex-col">
      <Header />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }
</style>
